
body, button, input, select, textarea {
	font-family: 'Quicksand', sans-serif;
}

#app main {
	margin: 1em;
}

.tiles {
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.tiles__item {	
	height: 200px;
	background: #eee;
	border-radius: 0.5em;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: bottom;
}

.tiles__item__toolbar {
	padding: 0.5em;
	background: rgba(30, 30, 30, 0.7);
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	color: #eee;
}

.tiles__item__toolbar a {
	color: hsl(0, 0%, 96%)
}

.tiles__item__toolbar a:hover {
	color: hsl(171, 100%, 41%);
}

.tiles__item__buttons {
	float: right;
}

.cf {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}


.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: 0;
	z-index: -1;
	transition: opacity .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

.loader {
	height: 80px;
	width: 80px;
}

.loader-wrapper.is-active {
	opacity: 1;
	z-index: 1;
}
