
body, button, input, select, textarea {
	font-family: 'Quicksand', sans-serif;
}

#app main {
	margin: 1em;
}

.tiles {
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.tiles__item {	
	height: 200px;
	background: #eee;
	border-radius: 0.5em;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: bottom;
}

.tiles__item__toolbar {
	padding: 0.5em;
	background: rgba(30, 30, 30, 0.7);
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	color: #eee;
}

.tiles__item__toolbar a {
	color: hsl(0, 0%, 96%)
}

.tiles__item__toolbar a:hover {
	color: hsl(171, 100%, 41%);
}

.tiles__item__buttons {
	float: right;
}

.cf {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}


.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: 0;
	z-index: -1;
	transition: opacity .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

.loader {
	height: 80px;
	width: 80px;
}

.loader-wrapper.is-active {
	opacity: 1;
	z-index: 1;
}


/** Tag Colors from semantic **/
.tag.red {
	background-color: #db2828 !important;
	border-color: #db2828 !important;
	color: #fff !important
}


a.tag.red:hover {
	background-color: #d01919 !important;
	border-color: #d01919 !important;
	color: #fff !important
}


.tag.orange {
	background-color: #f2711c !important;
	border-color: #f2711c !important;
	color: #fff !important
}


a.tag.orange:hover {
	background-color: #f26202 !important;
	border-color: #f26202 !important;
	color: #fff !important
}


.tag.yellow {
	background-color: #fbbd08 !important;
	border-color: #fbbd08 !important;
	color: #fff !important
}


a.tag.yellow:hover {
	background-color: #eaae00 !important;
	border-color: #eaae00 !important;
	color: #fff !important
}


.tag.olive {
	background-color: #b5cc18 !important;
	border-color: #b5cc18 !important;
	color: #fff !important
}


a.tag.olive:hover {
	background-color: #a7bd0d !important;
	border-color: #a7bd0d !important;
	color: #fff !important
}


.tag.green {
	background-color: #21ba45 !important;
	border-color: #21ba45 !important;
	color: #fff !important
}


a.tag.green:hover {
	background-color: #16ab39 !important;
	border-color: #16ab39 !important;
	color: #fff !important
}




.tag.teal {
	background-color: #00b5ad !important;
	border-color: #00b5ad !important;
	color: #fff !important
}


a.tag.teal:hover {
	background-color: #009c95 !important;
	border-color: #009c95 !important;
	color: #fff !important
}




.tag.blue {
	background-color: #2185d0 !important;
	border-color: #2185d0 !important;
	color: #fff !important
}


a.tag.blue:hover {
	background-color: #1678c2 !important;
	border-color: #1678c2 !important;
	color: #fff !important
}



.tag.violet {
	background-color: #6435c9 !important;
	border-color: #6435c9 !important;
	color: #fff !important
}


a.tag.violet:hover {
	background-color: #5829bb !important;
	border-color: #5829bb !important;
	color: #fff !important
}



.tag.purple {
	background-color: #a333c8 !important;
	border-color: #a333c8 !important;
	color: #fff !important
}


a.tag.purple:hover {
	background-color: #9627ba !important;
	border-color: #9627ba !important;
	color: #fff !important
}





.tag.pink {
	background-color: #e03997 !important;
	border-color: #e03997 !important;
	color: #fff !important
}


a.tag.pink:hover {
	background-color: #e61a8d !important;
	border-color: #e61a8d !important;
	color: #fff !important
}






.tag.brown {
	background-color: #a5673f !important;
	border-color: #a5673f !important;
	color: #fff !important
}


a.tag.brown:hover {
	background-color: #975b33 !important;
	border-color: #975b33 !important;
	color: #fff !important
}






.tag.grey {
	background-color: #767676 !important;
	border-color: #767676 !important;
	color: #fff !important
}


a.tag.grey:hover {
	background-color: #838383 !important;
	border-color: #838383 !important;
	color: #fff !important
}



.tag.black {
	background-color: #1b1c1d !important;
	border-color: #1b1c1d !important;
	color: #fff !important
}


a.tag.black:hover {
	background-color: #27292a !important;
	border-color: #27292a !important;
	color: #fff !important
}
